.header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #000;
  z-index: 10;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  height: 60px;
}
.header__nav--logo a {
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}
.header__nav-ul {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px);
  list-style: none;
  background-color: #000;
}
.header__nav-ul.active {
  display: block;
  z-index: 10;
}
.header__nav-ul--li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  transition: all .5s;
}
.header__nav-ul--li:hover {
  background-color: #5d7fb9;
}
.header__nav-ul--li a {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

/********************************MEDIA QUERIES********************************/
/*********TABLET SCREEN********/
@media (min-width: 768px) {
  .header__nav {
    max-width: 768px;
  }
}
/*********DESKTOP SCREEN********/
@media (min-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header__nav {
    max-width: 1024px;
  }
  .header__nav--logo {
    width: 200px;
  }
  .header__nav-ul, .header__nav-ul.active {
    position: initial;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 60px;
    background-color: #000;
  }
  .hamburguer {
    display: none;
  }
  .header__nav-ul--li {
    padding-left: 50px;
    width: auto;
  }
  .header__nav-ul--li:hover {
    background-color: transparent;
  }
  .header__nav-ul--li a {
    transition: all .5s;
  }
  .header__nav-ul--li a:hover {
    color: #5d7fb9;
  }
}
